// Colors
$primary: #9197f0;
$secondary: #9177f0;
$third: #9157f0;
$fourth: #9137f0; 
$fiveth: #9117f0;

$font-primary: #0187f8;

$btn-warning: rgb(204, 54, 54);
$btn-primary: rgb(10, 129, 241);
$btn-secondary: rgba(16, 172, 11, 0.904);


$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;